/* Warna utama */
:root {
    --primary-color: #006699;
    --secondary-color: #ffcc00;
}

/* Atur body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1f1f1;
}

/* Atur judul */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

/* Atur tabel */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid #ddd;
}

/* Atur header tabel */
thead {
    background-color: var(--primary-color);
    color: #fff;
}

/* Atur sel header dan sel data */
th,
td {
    padding: 10px;
    text-align: center;
}

/* Atur lebar kolom tabel */
th:first-child,
td:first-child {
    width: 10%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 20%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 20%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 25%;
}

th:last-child,
td:last-child {
    width: 25%;
}

/* Atur warna latar belakang saat hover */
tbody tr:hover {
    background-color: #f5f5f5;
}

/* Atur link */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}